

/* 전체 레이아웃 */
body {
    font-family: Arial, sans-serif;
    flex-direction: column;
    align-items: center; 
  }
  
  /* 메인 컨테이너 */
  .main-container {
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0; 
  }
  
  /* 검색 영역 */
  .searchArea {
    width: 100%;
    text-align: center;
    margin: 0px 0; /* 위아래 여백 */
  }
  .searchArea h2 {
    text-align: center;
    margin: 100px 0;
    /* padding-left: 600px; */
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 2cm;
  }
  
  .searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    margin: 0 auto;
  }
  
  .searchBar input {
    flex: 1; /* 남은 공간을 입력 필드가 차지 */
    max-width: 900px;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 30px; /* 둥근 모서리 */
    background-color: #c2dbb592; /* 연한 녹색 배경 */
    box-shadow: inset 0 0 5px rgba(121, 121, 121, 0.1);
  }
  
  .searchBar button {
    margin-left: -50px; /* 버튼 위치 조정 */
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    color: black; /* 아이콘 색상 */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* 카드 스타일 */
  .card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px; /* 카드들 간의 기본 간격 (가로 + 세로) */
  row-gap: 60px; /* 카드들 간의 세로 간격 추가 */
  width: 30vw;
    gap: 0px;
  }
  
  .card {
    background-color: white;
    width: 100%; /* 가로 크기 통일 */
    max-width: 100%; 
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }

  .section-title {
    font-size: 30px;
    font-weight: bold; 
    margin-bottom: 10px; 
    align-self: flex-end;    
  }

  .card h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .card-footer {
    margin-top: 30px;
    font-size: 14px;
    margin-right: 100px;
    color: #888;
  }
  
  /* 게시판 섹션 */
  .board-section {
    display: flex;
    justify-content: center;
    gap: 60px; 
    margin: 40px;
  }
  
  .board-column h3 {
    text-align: center;
    color: #94BC80;
  }
  